 <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI3Q_EMl4fqy5IsGdqAFzhlWJb9QOcAYI&libraries=places&callback=initAutocomplete">
  </script>
<div class="container">
  <div class=" card card-custom2 shadow max-width-45 p-4 m-auto">
    <div class="p-2">
      <h4 class="text-primary text-center"><u>Bienvenue sur la page de modification de votre talent :</u></h4>
      <h4 class="text-center"> <%=@talent.title%></h4><br>
    </div>
    <%= form_with model: @talent, local: true, multipart: true, method: :patch do |form| %>

      <!-- title -->
      <div class="field">
        <%= form.label :title, 'Titre' %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <!-- Description -->
      <div class="field">
        <%= form.label :description, 'Description' %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="row">
        <div class="col">
          <!-- Price -->
          <div class="field">
            <%= form.label :price, 'Prix en euros' %>
            <%= form.number_field :price, min: 1, value: 10, class: "form-control" %>
          </div>
        </div>
        <div class="col">
          <!-- Duration -->
          <div class="field">
            <%= form.label :duration, 'Durée en heure' %>
            <%= form.select :duration, options_for_select((0.5..8).step(0.5).map{ |n| n % 1 == 0 ? n.to_i : n }, 1), { }, {class: "custom-select custom-select mb-3"} %>
          </div>
        </div>
        <div class="col">
          <!-- Category nested form -->
          <div class="field">
            <%= fields_for :JoinTableTalentCategory do |category_form| %>
                <%= category_form.label :category_id, 'Catégorie' %>
                <%= category_form.collection_select :category_id, get_categories, :id, :title, { }, { class: "custom-select custom-select mb-3"} %>    
            <% end %>
          </div>
        </div>
      </div>



      <hr>
      <!-- Place nested form -->
      <div class="field">
        <%= fields_for :place do |place_form| %>
            <%= place_form.label :address, 'Adresse' %>
            <%= place_form.text_field :address, class: "form-control" %>
        <% end %>
      </div>

      <div class="field">
        <%= fields_for :place do |place_form| %>
            <%= place_form.label :city_name, 'Ville' %>
            <%= place_form.text_field :city_name, class: "form-control" %>
        <% end %>
      </div>

      
      <div class="field">
        <%= fields_for :place do |place_form| %>
            <%= place_form.label :zip_code, 'Code postal' %>
            <%= place_form.text_field :zip_code, class: "form-control" %>
        <% end %>
      </div>

      <div class="field">
        <%= fields_for :place do |place_form| %>
            <%= place_form.hidden_field :latitude %>
        <% end %>
      </div>

      <div class="field">
        <%= fields_for :place do |place_form| %>
            <%= place_form.hidden_field :longitude %>
        <% end %>
      </div>

      <hr>
      <!-- Photos -->

      <h3>Photo actuelle</h3>
      <%if @talent.picture.attached?%>
        <%= image_tag @talent.picture, alt: 'picture', class: 'max-width-45 card-img' %>
      <%else%>
        <p>=== Il n'y a pas encore de photo liée à ce talent ===</p>
      <%end%>
      <div class="actions text-center p-3">
        <label>Photo</label>
        <br>
        <label class="btn btn-secondary ">
            Choisir une photo
            <span style="display:none;">
              <%= form.file_field :picture %>
            </span>
        </label>
      </div>

    <div class="actions text-center p-3">
      <%= form.submit "Modifier le talent", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>

<!-- AUTO COMPLETE -->

<script>
    var searchInput ='place_address';
    function initAutocomplete() {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete(document.getElementById(searchInput),
        {
          componentRestrictions: {'country' : ['FR']}
        });
        google.maps.event.addListener(autocomplete, 'place_changed', function (){
            var new_place = autocomplete.getPlace();
          document.getElementById('place_address').value = new_place.address_components[0].long_name + " " + new_place.address_components[1].long_name
          document.getElementById('place_city_name').value = new_place.address_components[2].long_name
          document.getElementById('place_zip_code').value = new_place.address_components[6].long_name
          document.getElementById('place_latitude').value = new_place.geometry.location.lat();
          document.getElementById('place_longitude').value = new_place.geometry.location.lng();
        });
    };
</script>