 <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI3Q_EMl4fqy5IsGdqAFzhlWJb9QOcAYI&libraries=places&callback=initAutocomplete">
  </script>

<%= form_with model: @talent, local: true, multipart: true do |form| %>

  <!-- title -->
  <div class="field">
    <%= form.label :title, 'Titre' %>
    <%= form.text_field :title, class: "form-control", placeholder: "L'intitulé de ton talent. (140 caractères maximum)." %>
  </div>

  <!-- Description -->
  <div class="field">
    <%= form.label :description, 'Description' %>
    <%= form.text_area :description, class: "form-control", placeholder: "Décris ton talent. (1000 caractères maximum)." %>
  </div>

  <!-- Duration -->
  <div class="field">
    <%= form.label :duration, 'Durée de la scéance en heure' %>
    <%= form.select :duration, options_for_select((0.5..8).step(0.5).map{ |n| n % 1 == 0 ? n.to_i : n }) %>
  </div>

  <!-- Place nested form -->
  <div class="field">
    <%= fields_for :place do |place_form| %>
        <%= place_form.label :address, 'Adresse' %>
        <%= place_form.text_field :address %>
    <% end %>
  </div>

  <div class="field">
    <%= fields_for :place do |place_form| %>
        <%= place_form.label :city_name, 'Ville' %>
        <%= place_form.text_field :city_name %>
    <% end %>
  </div>

  
  <div class="field">
    <%= fields_for :place do |place_form| %>
        <%= place_form.label :zip_code, 'Code postal' %>
        <%= place_form.text_field :zip_code %>
    <% end %>
  </div>

  <div class="field">
    <%= fields_for :place do |place_form| %>
        <%= place_form.hidden_field :latitude %>
    <% end %>
  </div>

  <div class="field">
    <%= fields_for :place do |place_form| %>
        <%= place_form.hidden_field :longitude %>
    <% end %>
  </div>

  <!-- Photos -->
  <div class="field">
    <%= form.label 'Photos' %>
    <%= form.file_field :picture %>
  </div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
  <!-- AUTO COMPLETE -->

<script>
    var searchInput ='place_address';
    function initAutocomplete() {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete(document.getElementById(searchInput),
        {
          componentRestrictions: {'country' : ['FR']}
        });
        google.maps.event.addListener(autocomplete, 'place_changed', function (){
            var new_place = autocomplete.getPlace();
          document.getElementById('place_address').value = new_place.address_components[0].long_name + new_place.address_components[1].long_name
          document.getElementById('place_city_name').value = new_place.address_components[2].long_name
          document.getElementById('place_zip_code').value = new_place.address_components[6].long_name
          document.getElementById('place_latitude').value = new_place.geometry.location.lat();
          document.getElementById('place_longitude').value = new_place.geometry.location.lng();
        });
        
    };
</script>