<%= form_with model: @talent, local: true, multipart: true do |form| %>

  <!-- title -->
  <div class="field">
    <%= form.label :title, 'Titre' %>
    <%= form.text_field :title, class: "form-control", placeholder: "L'intitulé de ton talent. (140 caractères maximum)." %>
  </div>

  <!-- Description -->
  <div class="field">
    <%= form.label :description, 'Description' %>
    <%= form.text_area :description, class: "form-control", placeholder: "Décris ton talent. (1000 caractères maximum)." %>
  </div>

  <!-- Duration -->
  <div class="field">
    <%= form.label :duration, 'Durée de la scéance en heure' %>
    <%= form.select :duration, options_for_select((0.5..8).step(0.5).map{ |n| n % 1 == 0 ? n.to_i : n }) %>
  </div>

  <!-- Place nested form -->
  <div class="field">
    <%= fields_for :place do |place_form| %>
        <%= place_form.label :address, 'Adresse' %>
        <%= place_form.text_field :address %>

        <%= place_form.label :city_name, 'Ville' %>
        <%= place_form.text_field :city_name %>
 
        <%= place_form.label :zip_code %>
        <%= place_form.text_field :zip_code %>

    <% end %>
  </div>

  <!-- Photos -->
  <div class="field">
    <%= form.label 'Photos' %>
    <%= form.file_field :picture %>
  </div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>