<div class="container mt-4">
  <div class="row">
    <h3 class=""><%= @talent.title %></h3>
    <p class="ml-3 pt-2">proposé par: <a href="#"><%= @talent.user.first_name %></a></p>
  </div>

  <div class="row">
    <div class="col-sm-8">
        <!-- image container -->
      <div class="image-container ">
        <%if @talent.picture.attached?%>
        <%= image_tag @talent.picture, alt: 'photo du talent', class: ".img-fluid card-img"%>
        <%else%>
          <p>aucune photo de ce talent</p>
        <%end%>
      </div>
    </div>

    <div class="col-sm-4">
      <!--Table element for text display-->
      <table class="table table-borderless max-width-18">
        <tbody>
          <tr>
            <th scope="row">Note:</th>
            <td><%= global_mark(@reviewed_appointments) %></td>
          </tr>
          <tr>
            <th scope="col">Catégorie:</th>
            <td>à implanter</td>
          </tr>
          <tr>
            <th scope="col">Ville:</th>
            <td><%= @talent.place.city_name %></td>
          </tr>
          <tr>
            <th scope="col">Prix:</th>
            <td><%= @talent.price %> €</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="card card-custom2 shadow mb-4 mt-4 pt-2 pl-4 ml-1 max-width-40 row">
    <h5>Description: </h5>
    <p><%= @talent.description %></p>
  </div>
  <div class="text-center">
    <%= link_to "Faire une demande de réservation", new_talent_appointment_path(@talent),  class: "btn btn-outline-danger mt-3 mb-4 mx-auto" %>
  </div>
</div>

<div class="container">
 
<p class="text-center">
  <a class="btn btn-outline-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Voir les commentaires</a>
</p>
    <% @reviewed_appointments.sort.each do |appointment| %>
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-custom3 max-width-45 mx-auto mb-3 p-4">
            <div class="row">
              <div class="col-10">
                <%= appointment.apprentice.first_name %> a laissé une évaluation sur ce talent:<hr>
                <strong><u>Commentaire: </u></strong><%= appointment.review.comment %></td>
              </div>
              <div class="col-2 m-auto pr-4 text-center">
                Note<h5 class="text-primary"> <%= appointment.review.mark %>/5</h5>              
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>