<%= form_tag search_results_path, method: 'get' do %>
  <%= text_field_tag :search_keywords%>
  <%= submit_tag "Search"%>
<% end %>

<%# --- Random talents printed on home page --- %>
<% @talents.sample(4).each do |talent|%>
  <div class="card-custom" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Image du talent">
    <div class="card-body">
      <h5 class="card-title"><%= talent.title%></h5>
      <p class="card-text"><%= talent.description%></p>
      <a href="#" class="btn btn-primary">En savoir plus</a>
    </div>
  </div>
<% end %>