
<!-- USERS MESSAGES -->
<%= render 'layouts/messages' %>



<%= render partial: 'layouts/searchform' %>

<% @talents.sample(5).each do |talent|%>
  <%= render partial: 'layouts/landing-card', locals: {model: talent} %>
<% end %>

<<<<<<< HEAD
<%# --- Random talents printed on home page --- %>
<% @talents.sample(4).each do |talent|%>
  <div class="card-custom" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Image du talent">
    <div class="card-body">
      <h5 class="card-title"><%= talent.title%></h5>
      <p class="card-text"><%= talent.description%></p>
      <a href="#" class="btn btn-primary">En savoir plus</a>
    </div>
  </div>
<% end %>
=======




<!-- <%= render partial: 'layouts/searchform', locals: {model: @appointment} %> -->
>>>>>>> cc280034ebd2f2e20b45abaf43883749ff1f3b53
