<!DOCTYPE html>
<html>
  <body>
    <h2>Confirmation de demande de réservation de séance sur Talent Connect !</h2>
    <hr>
    <p>
      Salut <%= @appointment.apprentice.first_name %>,<br>
    </p>
    <p>
      Cet email pour te confirmer que ta demande de réservation de talent effectuée le <%= @appointment.created_at.strftime("%d/%m/%Y à %k:%M") %> a bien été enregistrée.<br>
      Toute l'équipe de Talent Connect te remercie !<br><br>
    
      En voilà les grandes lignes:<br>
      <br>
      Séance intitulée : <%= @appointment.talent.title %><br>
      Animée par le mentor : <%= @appointment.mentor.first_name %> <%= @appointment.mentor.last_name %><br>
      Prévue pour se tenir le : <%= @appointment.start_time %><br>
      <br>
      Ta demande a été envoyée au mentor. Dès qu'il aura confirmé sa réponse, une nouvelle notification te parviendra.
      
      En attendant, tu retrouveras les informations relatives à ta séance en te connectant sur ton espace client.<br>
      Pour y accéder, connecte-toi via : <%= link_to "Me connecter", @urlLogin %> .
    </p>
    <p>
      À très vite au sein de la communauté de partage de talents ! 
      <br><br>
      L'équipe de Talent Connect
    </p>
  </body>
</html>