<!DOCTYPE html>
<html>
  <body>
    <h2>Nouvelle demande de réservation de séance sur Talent Connect !</h2>
    <hr>
    <p>
      Salut <%= @appointment.mentor.first_name %>,<br>
    </p>
    <p>
      Cet email pour te confirmer qu'une nouvelle demande de réservation de talent a été effectuée le <%= @appointment.created_at.strftime("%d/%m/%Y à %k:%M") %>.<br>
    
      En voilà les grandes lignes:<br>
      <br>
      Séance intitulée : <%= @appointment.talent.title %><br>
      Demande de réservation lancée par l'apprenti : <%= @appointment.apprentice.first_name %> <%= @appointment.apprentice.last_name %><br>
      Proposée pour se tenir le : <%= @appointment.start_time %><br>
      <br>
      Merci de la passer en revue, et de confirmer ta réponse au plus vite, car ton apprenti attend ta réponse avec impatience!
      
      Nous te rappelons que tu peux retrouver toutes les informations relatives à tes talents sur ton profil, au sein de ton espace client.<br>
      Pour y accéder, connecte-toi via : <%= link_to "Me connecter", @urlLogin %> .
    </p>
    <p>
      À très vite au sein de la communauté de partage de talents ! 
      <br><br>
      L'équipe de Talent Connect
    </p>
  </body>
</html>