<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- ICON LIBRARY -->
    <script src="https://kit.fontawesome.com/dc9a3c0907.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <h2>Confirmation de paiement pour une séance sur Talent Connect !</h2>
    <hr>
    <p>
      Salut <%= @appointment.mentor.first_name %>,<br>
    </p>
    <p>
      Cet email pour te confirmer qu'un règlement pour une séance concernant l'un de tes talents vient d'être effectué.<br>
      <br>
      En voilà les grandes lignes:<br>
      <br>
      Montant du règlement : <%= @amount %> €<br> 
      Pour une séance intitulée : <%= @appointment.talent.title %><br>
      Animée par le mentor (juste pour confirmer que c'est bien toi!) : <%= @appointment.mentor.first_name %> <%= @appointment.mentor.last_name %><br>
      Prévue pour se tenir le : <%= @appointment.start_time %><br><br>
    
      Tu n'as plus qu'à attendre la date de ta séance, pour retrouver ton apprenti le jour J !<br><br>
      En attendant, tu peux retrouver les informations relatives à cette séance ou consulter d'autres informations en te connectant sur ton espace client.<br>
      Pour y accéder, connecte-toi via : <%= link_to "Me connecter", @urlLogin %> .
    </p>
    <p>
      À très vite au sein de la communauté de partage de talents ! 
      <br><br>
      L'équipe de Talent Connect
    </p>
  </body>
</html>