<%= current_user.first_name %>
<%= current_user.last_name %>
<%= current_user.email %>


<!-- REMOVE COMMENT WHEN PLACE CREATION IS DEBUGGED -->
<%
=begin%>
 <%= current_user.place.address %>
<%= current_user.place.zip_code %>
<%= current_user.place.city_name %> 
<%
=end%>
<!-- MY TALENTS -->
<h4 class="card-title mt-3 text-center">Je propose ces activités :</h4>
<hr>
<% if !@current_user.talents.nil? %>
  <% @current_user.talents.each do |talent| %>
  <%= render partial: 'layouts/landing-card', locals: {model: talent, type: "paid"} %>
  <% end %>
<% else %>
  Tu n'as pas de talent proposé !
<% end %>


<!-- APPOINTMENTS -->
<h4 class="card-title mt-3 text-center">Rendez-vous à venir :</h4>
<% if @future_paid_appointments %>
  <% @future_paid_appointments.each do |future_paid_appointment| %>
  <%= render partial: 'layouts/validate_appointment_card', locals: {model: future_paid_appointment.talent, type: "paid"} %>
  <% end %>
<% else %>
  Tu n'as pas de séances confirmées.
<% end %>

<div class="actions">
  <%= button_to 'Créer une nouvelle activité', new_talent_path(), method: :get, class: "btn btn-primary btn-block" %>
</div>