<div class="container mt-4">
  <!-- TOP LINE -->
  <div class="row d-flex justify-content-between align-items-start">
    <!-- LEFT COLUMN -->
    <div class="col-6">

      <!-- TITLE -->
      <div class="container">
        <h3 class="">Mon espace mentor</h3>
        <%= link_to 'Modifier/suprimer mon profil', edit_user_registration_path(), method: :get, class: "badge badge-pill badge-primary" %>
      </div>

      <!-- PROFIL -->
      <%= render partial: 'users/show-partial-profile' %>

      <!-- NEW TALENT -->
      <div class="actions mt-3">
        <%= button_to 'Proposer une activité', new_talent_path(), method: :get, class: "btn btn-primary" %>
      </div>
    </div>
    <!-- RIGHT COLUMN -->
    <div class="col-6 d-flex justify-content-end">
      <%= link_to 'Mon espace apprenti', apprentice_show_user_path(current_user.id), class: "btn btn-outline-danger" %>
    </div>
  </div>

  <!-- BOTTOM LINE -->
  <div class="row mt-4">
    <!-- LEFT COLUMN -->
    <div class="col-6">

      <!-- TALENTS -->
      <h4 class="card-title text-primary">Je propose ces activités :</h4>
      <hr>
      <% if @current_user.talents && @current_user.talents.count > 0  %>
        <% @current_user.talents.each do |talent| %>
        <%= render partial: 'layouts/card-talent', locals: {model: talent, type: "mentor"} %>
        <% end %>
      <% else %>
        Pas encore d'activité proposée.
      <% end %>

    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-6">

      <!-- APPOINTMENTS THAT NEED TO BE VALIDATE -->
      <h4 class="card-title text-primary">Séances à valider :</h4>
      <hr>
      <% if @not_validate_appointments && @not_validate_appointments.count > 0 %>
        <% @not_validate_appointments.each do |not_validate_appointment| %>
        <%= render partial: 'layouts/card-talent-mentor', locals: {model: not_validate_appointment.talent, appointment: not_validate_appointment, type: "apprentice-validate"} %>
        <% end %>
      <% else %>
        Aucune séance à valider.
      <% end %>

      <!-- APPOINTMENTS THAT NEED TO BE PAID -->
      <h4 class="card-title text-primary">Séances en attente de paiement :</h4>
      <hr>
      <% if @not_paid_appointments && @not_paid_appointments.count > 0 %>
        <% @not_paid_appointments.each do |not_paid_appointment| %>
        <%= render partial: 'layouts/card-talent-mentor', locals: {model: not_paid_appointment.talent, appointment: not_paid_appointment, type: "mentor-validate"} %>
        <% end %>
      <% else %>
        Aucune séance en attente de paiement.
      <% end %>

      <!-- FUTURE VALIDATE & PAID APPOINTMENTS -->
      <h4 class="card-title text-primary">Séances à venir :</h4>
      <hr>
      <% if @future_paid_appointments && @future_paid_appointments.count > 0 %>
        <% @future_paid_appointments.each do |future_paid_appointment| %>
        <%= render partial: 'layouts/card-talent-mentor', locals: {model: future_paid_appointment.talent, appointment: future_paid_appointment, type: "paid"} %>
        <% end %>
      <% else %>
        Aucune séance confirmée.
      <% end %>

      <!-- PAST VALIDATE & PAID APPOINTMENTS -->
      <h4 class="card-title text-primary">Séances passées :</h4>
      <hr>
      <% if @past_paid_appointments && @past_paid_appointments.count > 0 %>
        <% @past_paid_appointments.each do |past_paid_appointment| %>
        <%= render partial: 'layouts/card-talent-mentor', locals: {model: past_paid_appointment.talent, appointment: past_paid_appointment, type: "past"} %>
        <% end %>
      <% else %>
        Aucune séance passée.
      <% end %>

    </div>
  </div>
</div>

<!-- REMOVE COMMENT WHEN PLACE CREATION IS DEBUGGED -->
<%
=begin%>
 <%= current_user.place.address %>
<%= current_user.place.zip_code %>
<%= current_user.place.city_name %> 
<%
=end%>
<!-- MY TALENTS -->
