<div class="container">
  <div class="row">
    <div class="col m-4">
      <h2>Mon espace mentor</h2>
      <%= render partial: 'users/show-partial-profile' %>


      <h4 class="card-title mt-4">Je propose ces activités :</h4>
      <hr>
      <% if @current_user.talents && @current_user.talents.count > 0  %>
        <% @current_user.talents.each do |talent| %>
        <%= render partial: 'layouts/card-talent', locals: {model: talent, type: "mentor"} %>
        <% end %>
      <% else %>
        Pas encore d'activité proposée.
      <% end %>
    </div>
    <div class="col m-4">
      <!-- APPOINTMENTS -->
      <h4 class="card-title mt-4">Séances à venir :</h4>
      <hr>
      <% if @future_paid_appointments && @future_paid_appointments.count > 0 %>
        <% @future_paid_appointments.each do |future_paid_appointment| %>
        <%= render partial: 'layouts/validate_appointment_card', locals: {model: future_paid_appointment.talent, type: "paid"} %>
        <% end %>
      <% else %>
        Aucune séance confirmée.
      <% end %>
    </div>
  </div>
</div>

<!-- REMOVE COMMENT WHEN PLACE CREATION IS DEBUGGED -->
<%
=begin%>
 <%= current_user.place.address %>
<%= current_user.place.zip_code %>
<%= current_user.place.city_name %> 
<%
=end%>
<!-- MY TALENTS -->


<div class="row">
  <div class="col m-4">
    <div class="actions ml-3">
      <%= button_to 'Proposer une activité', new_talent_path(), method: :get, class: "btn btn-primary" %>
    </div>
  </div>
</div>