<%= form_with model: @appointment, url: talent_appointments_path, local: true do |form| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :start_time %><br>
    <%= form.date_field :start_time, class: 'form-control' %>
    <%= select_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
