<%= form_with model: @appointment, url: talent_appointments_path, local: true do |form| %>

  <div class="field">
    <%= form.label :start_time %><br>
    <%= form.date_field :start_time, class: 'form-control' %>
    <%= select_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
