<div class="container">
  <div class=" card card-custom2 shadow max-width-45 p-4 m-auto">
    <div class="p-2">
      <h4 class="text-primary text-center"><u>Bienvenue sur la page d'évaluation d'une scéance :</u></h4>

        <%= form_with model: @review, url: talent_appointment_reviews_path, local: true, multipart: true do |form| %>

          <!-- MARK -->
          <div class="field">
            <%= form.label :mark, 'Note' %>
            <%= form.select :mark, options_for_select(1..5), { }, {class: "custom-select custom-select mb-3"} %>
          </div>

          <!-- COMMENT -->
          <div class="field">
            <%= form.label :comment, 'Commentaire' %>
            <%= form.text_area :comment, class: "form-control", placeholder: "Commentaire (500 caractères maximum)" %>
          </div>

           <div class="actions text-center p-3">
            <%= form.submit "Confirmer ton évaluation", class: "btn btn-primary" %>
          </div>
          
        <% end %>
    </div>    
  </div>
</div>