<div class="container">
  <div class="row">
    <div class="col">
        <%= render partial: 'layouts/searchform-half', locals: {keyword: params[:search_keywords]} %>
        <br>
        <% @found_talents.each do |talent|%>
            <%= render partial: 'layouts/card-talent', locals: {model: talent, type: "search-result"} %>
        <% end %>
    </div>
    <div class="col" id="map">
    </div>
        <script>
            function initMap(){
                var options = {
                    zoom:11,
                    center:{lat:48.8534,lng:2.3488}
                }
                // New map
                var map = new google.maps.Map(document.getElementById('map'), options);
                // Add marker
              function addMarker(coords, content){
                var marker = new google.maps.Marker({
                    position:coords,
                    map:map,
                    icon: 'http://localhost:3000/assets/maps-and-flags-b5094032565f8f893184045c01df8eae4620018e1c00b6bf39fae6ac1fb7c2aa.png'

                })
                 // Add info window
                var infoWindow = new google.maps.InfoWindow({
                content: content 
                })
                marker.addListener('mouseover', function(){
                  infoWindow.open(map, marker)
                });
                marker.addListener('mouseout', function(){
                  infoWindow.close(map, marker)
                })
              }
              <% @found_talents.each do |talent|%>
                  addMarker({lat: <%= talent.place.latitude%> , lng: <%= talent.place.longitude%>}, "<%= talent.title%>" )
                  <% end%>
            }
        </script>
        <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCROEXaB0Wy3Go4BC2Mv8oAg8uVR4r9PmM&callback=initMap">
        </script>
  </div>
</div>
