  <div class="card card-custom2 shadow mb-3 max-width-45">
    <div class="row no-gutters">
      <div class="col-md-3">
        <%= image_tag model.picture, alt: 'picture', class: "img card-img p-4" %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="row">
            <% case type %>
              <% when "past" %>
                <%= link_to model.title, talent_path(model), class: "p" %>
                <p class="ml-2 text-secondary">avec <span class="text-primary"><%= model.user.first_name %></span></p>
              <% when "mentor"%>
                <%= link_to model.title, talent_path(model), class: "h5" %>
              <% else %>
                <%= link_to model.title, talent_path(model), class: "p" %>
                <p class="ml-2">avec <span class="text-primary"><%= model.user.first_name %></span></p>
            <% end %>
          <% case type %>
            <% when "past" %>
              <p class="card-text text-secondary text-truncate"><%= model.description %></p>
            <% else %>
              <p class="card-text text-truncate"><%= model.description %></p>
          <% end %>
          </div>
          
        </div>
      </div>
      <% case type %>
        <% when "search-result" %>
          <div class="col-md-3 m-auto">
            <%= link_to "En savoir plus", talent_path(model), class: "btn btn-outline-primary" %>
          </div>
        <% when "apprentice-validate" %>
          <div class="col-md-3 m-auto pr-4 text-center">
            <p class="text-danger">En attente de validation</p>
          </div>
        <% when "mentor-validate" %>
          <div class="col-md-3 m-auto">
          <%= render partial: 'charges/new', locals: {model: model, appointment: appointment} %>
          </div>
        <% when "paid" %>
          <div class="col-md-3 m-auto pr-4 text-center">
            <p class="text-primary">Séance validée</p>
          </div>
        <% when "past" %>
          <div class="col-md-3 m-auto pr-4 text-center">
            <p class="text-secondary">Séance passée</p>
            <%= link_to "Évaluer", new_talent_appointment_review_path(model, appointment), class: "btn btn-outline-primary btn-sm m-2" %>
          </div>
        <% when "mentor" %>
          <div class="col-md-3 m-auto pr-4 text-center">
            <%= link_to "Modifier", edit_talent_path(model), class: "btn btn-outline-primary btn-sm m-2" %>
            <%= button_to "Supprimer", talent_path(model), data: { confirm: "Es-tu sûr de vouloir supprimer cette activité ?" }, method: :delete, class: "btn btn-outline-danger btn-sm m-2" %>
          </div>
        <% else %>
      <% end %>
    </div>
  </div>