<header class="sticky-top">
  <!-- BEGINNING NAVBAR -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
    
    <!-- LOGO -->
    <a class="navbar-brand btn btn-primary" href="<%= root_path %>">
      <i class="fab fa-slideshare" style="color:white" ></i>
      <h5>Talent Connect</h5>
    </a>
    
    <!-- TOGGLE BUTTON -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAVBAR ITEMS -->
    <div class="collapse navbar-collapse" id="navbarColor01">
      
      <!-- LINKS -->
      <ul class="navbar-nav mr-auto">
        <!-- HOME -->
        <li class="nav-item">
          <%= link_to "Accueil", root_path, :class => "nav-link btn btn-primary" %>
        </li>


        <!-- TEST DROPDOWN -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            [T]
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- TALENTS -->
            <a class="dropdown-item" href="<%= talents_path %>">talents#index</a>
            <a class="dropdown-item" href="<%= talent_path(1) %>">talents#show n°1</a>
            <a class="dropdown-item" href="<%= new_talent_path %>">talents#new</a>
            <a class="dropdown-item" href="<%= edit_talent_path(1) %>">talents#edit n°1</a>
            
            <hr>
            <!-- APPOINTMENTS -->
            <a class="dropdown-item" href="<%= appointments_path %>">appointments#index</a>
            <a class="dropdown-item" href="<%= new_talent_appointment_path(1) %>">appointments#new (talent n°1)</a>
            
            <hr>
            <!-- PLACES -->
            <a class="dropdown-item" href="<%= places_path %>">places#index</a>
            <a class="dropdown-item" href="<%= place_path(1) %>">places#show n°1</a>
            <a class="dropdown-item" href="<%= edit_place_path(1) %>">places#edit n°1</a>
            
            <hr>
            <!-- USERS -->
            <a a class="dropdown-item" href="<%= users_path %>">users#index</a>
            <% if user_signed_in? %>
              <a a class="dropdown-item" href="<%= user_path(current_user.id) %>">users#show</a>
            <% end %>
            <a class="dropdown-item" href="<%= new_user_registration_path %>">registrations#new</a>
            <a class="dropdown-item" href="<%= edit_user_registration_path %>">registrations#edit</a>
            <% if user_signed_in? %>
              <a class="dropdown-item" href="<%= user_registration_path %>" data-confirm="Es-tu sûr de vouloir supprimer le compte ?" data-method="DELETE">registrations#destroy</a>
            <% end %>
            <a class="dropdown-item" href="<%= new_user_session_path %>">sessions#new</a>
            <% if user_signed_in? %>
              <a class="dropdown-item" href="<%= destroy_user_session_path(session[:user_id]) %>" data-confirm="Es-tu sûr de vouloir te déconnecter ?" data-method="DELETE">sessions#destroy</a>
            <% end %>
            <a class="dropdown-item" href="<%= new_user_password_path %>">passwords#new</a>
            <a class="dropdown-item" href="<%= edit_user_password_path %>">passwords#edit</a>
          </div>
        </li>
        
        <!-- ABOUT -->
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="<%= about_path %>">A propos</a> 
        </li>
        <!-- ABOUT -->
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="<%= contact_path %>">Contact</a> 
        </li>
      </ul> 
      
      <!-- USER BUTTONS -->
      <div class="row navbar-nav dropdown mr-4" id="navbarColor01">
        <!-- LOGIN MENUS -->
        <% if user_signed_in? %>
          <button class="nav-link btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
            <i class="fas fa-user-circle mr-1"></i>
            <% if current_user.first_name %>
              <%= current_user.first_name %>
            <% else %>
              Mon profil
            <% end %>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <!-- USER PROFIL & APPRENTICE SPACE -->
            <a class="nav-link btn btn-primary" href="<%= user_path(current_user.id) %>">Mon profil</a> 
            <!-- MENTOR SPACE -->
            <div class="dropdown-divider"></div>
            <a class="nav-link btn btn-primary" href="#">Espace Mentor</a> 
            <!-- ADMIN PROFIL -->
            <% if is_current_user_admin? %>
              <div class="dropdown-divider"></div>
              <a class="nav-link btn btn-primary" href="#">Espace Admin</a> 
            <% end %>
            <div class="dropdown-divider"></div>

            <a href="<%= destroy_user_session_path(session[:user_id]) %>" data-confirm="Es-tu sûr de vouloir te déconnecter ?" data-method="DELETE" class="dropdown-item">Se déconnecter</a>
          </div>
        <!-- LOGOUT MENUS -->
        <% else %>
          <button class="nav-link btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle mr-1"></i>Se connecter / S'inscrire
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to "Se connecter", new_user_session_path, :class => "dropdown-item"%>
            <div class="dropdown-divider"></div>
            <%= link_to "S'inscrire", new_user_registration_path, :class => "dropdown-item"%>
          </div>
        <% end %>
      </div>

    </div>
  </nav>
  <!--END OF NAVBAR PART -->
</header>