<!DOCTYPE html>
<html>
  <head>
    <title>Talent Connect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- HEADER -->
    <%= render 'layouts/navbar' %>

    <!-- USER MESSAGES -->
    <% if current_page?(root_path) %>
      <%= render 'layouts/messages' %>
    <% else %>
      <div class="container">
        <%= render 'layouts/messages' %>  
      </div>
    <% end %>

    <!-- PAGE CONTENT -->
    <%= yield %>

    <!-- FOOTER -->
    <%= render 'layouts/footer' %>

  </body>
</html>
