<!DOCTYPE html>
<html>
  <head>
    <title>RailsAppModel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- NAVIGATION BAR -->
    <%= render 'layouts/header' %>

    <div class="container">

      <!-- USERS MESSAGES -->
      <%= render 'layouts/messages' %>

      <!-- PAGE CONTENT -->
      <%= yield %>

      <!-- PAGE FOOTER -->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
