<!DOCTYPE html>
<html>
  <head>
    <title>Talent Connect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- HEADER -->
    <%= render 'layouts/navbar' %>

    <div class="container">

      <!-- PAGE CONTENT -->
      <%= yield %>

      <!-- PAGE FOOTER -->
      <%= render 'layouts/footer' %>

    </div>
  </body>
</html>
